<section class="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <h2 class="about__title">About Us</h2>
                <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci blanditiis dolorem, magni minima
                    nesciunt provident vitae? Architecto assumenda dolor eum facilis maiores quisquam reprehenderit.
                    Adipisci illum magnam natus quod.</p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-xl-3">
                <img src="../img/internet.png" alt="">
                <h3 class="about__h3">Awesome Icons</h3>
                <p class="about__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet blanditiis cumque earum
                    expedita explicabo mollitia odit omnis pariatur, recusandae sed sequi ut? Atque corporis doloremque
                    facilis magnam modi molestiae!</p>
            </div>
            <div class="col-xl-3">
                <img src="../img/transfer.png" alt="">
                <h3 class="about__h3">Awesome Icons</h3>
                <p class="about__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis culpa cumque debitis,
                    enim est exercitationem ipsum laudantium officiis porro quis quod rem rerum similique suscipit
                    temporibus tenetur ut voluptas!</p>
            </div>
            <div class="col-xl-3">
                <img src="../img/head.png" alt="">
                <h3 class="about__h3">Fully Responsive</h3>
                <p class="about__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id laborum magni, omnis quibusdam
                    veritatis? Aliquid asperiores maxime voluptates. Ad adipisci aut culpa facilis inventore iusto
                    minima ullam! Nulla, sapiente.</p>
            </div>
        </div>
    </div>
</section>