<section class="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <h2 class="about__title">Latest Works</h2>
                <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-7 d-flex justify-content-sm-between">
                <button val="on" class="portfolio__btn" filter="all">All</button>
                <button val="off" class="portfolio__btn" filter="wd">Web Disign</button>
                <button val="off" class="portfolio__btn" filter="ud">Ui/Ux design</button>
                <button val="off" class="portfolio__btn" filter="moc">Mockups</button>
            </div>
        </div>
        <div class="row portfolio__images">
            <div filter="wd" class="col-xl-4"><img src="../img/item1.png" alt=""></div>
            <div filter="ud" class="col-xl-4"><img src="../img/item2.png" alt=""></div>
            <div filter="wd" class="col-xl-4"><img src="../img/item3.png" alt=""></div>
            <div filter="moc" class="col-xl-4"><img src="../img/item4.png" alt=""></div>
            <div filter="wd" class="col-xl-4"><img src="../img/item5.png" alt=""></div>
            <div filter="moc" class="col-xl-4"><img src="../img/item6.png" alt=""></div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <button class="portfolio__btn">View ALL</button>
            </div>
        </div>
    </div>
</section>