<section class="pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <h2 class="pricing__title">Pricing Plan</h2>
                <p class="pricing__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam commodi
                    cupiditate doloremque earum eum excepturi facere maiores, pariatur quod tempore! Ab eveniet harum
                    laboriosam maiores minus placeat saepe voluptas voluptatum!</p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-xl-4">
                <div>
                    <div>
                        Free Trial<br>
                        <sup>$</sup> 00 <sub>per month</sub>
                    </div>
                    <div>
                        <ul>
                            <li>30 Free Trial</li>
                            <li>5 Free Projects</li>
                            <li>PHP 5 Enabled</li>
                            <li>24/7 Supports</li>
                        </ul>
                    </div>
                    <div>
                        <button>Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>