<section class="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <h2 class="about__title">Our Services</h2>
                <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci blanditiis
                    dolorem, magni minima
                    nesciunt provident vitae? Architecto assumenda dolor eum facilis maiores quisquam reprehenderit.
                    Adipisci illum magnam natus quod.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="services__card">
                    <i class="fas fa-mobile-alt services__icon"></i>
                    <h3 class="about__h3">Research</h3>
                    <p class="about__p">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum iti atque corrupti quos.</p>
                    <button class="services__btn">Read more</button>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="services__card">
                    <i class="fas fa-mobile-alt services__icon"></i>
                    <h3 class="about__h3">Research</h3>
                    <p class="about__p">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum iti atque corrupti quos.</p>
                    <button class="services__btn">Read more</button>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="services__card">
                    <i class="fas fa-mobile-alt services__icon"></i>
                    <h3 class="about__h3">Research</h3>
                    <p class="about__p">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum iti atque corrupti quos.</p>
                    <button class="services__btn">Read more</button>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="services__card">
                    <i class="fas fa-mobile-alt services__icon"></i>
                    <h3 class="about__h3">Research</h3>
                    <p class="about__p">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum iti atque corrupti quos.</p>
                    <button class="services__btn">Read more</button>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="services__card">
                    <i class="fas fa-mobile-alt services__icon"></i>
                    <h3 class="about__h3">Research</h3>
                    <p class="about__p">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum iti atque corrupti quos.</p>
                    <button class="services__btn">Read more</button>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="services__card">
                    <i class="fas fa-mobile-alt services__icon"></i>
                    <h3 class="about__h3">Research</h3>
                    <p class="about__p">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum iti atque corrupti quos.</p>
                    <button class="services__btn">Read more</button>
                </div>
            </div>
        </div>
    </div>
</section>
