.portfolio {
  & > div {
    padding: 125px 0 135px;
    color: $black;
    text-align: center;
  }
  &__btn {
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding: 16px 25px;
    border: 2px solid $btn-hover;
    background-color: inherit;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover {
      background-color: $btn-hover;
      color: $white;

    }
  }
  &__images {
    margin-top: 120px;
  }
  img {
    margin-bottom: 20px;

  }
  &__btn {
    margin-top: 120px;
  }
}

.focused {
  color: $white;
  background-color: $btn-hover;
}

.text {
  display: none;
}

div[filter]:hover img {
  filter: brightness(50%);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

div[filter]:hover .text {
  display: block;
  width: 100%;
  color: $white;
  position: absolute;
  top: 40%;
  left: 0;
  text-align: center;
}